* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.nav-button:link,
.nav-button:hover,
.nav-button:visited{
    text-decoration: none;
    color: white;
    cursor: url('../images/curmiku9.png'), auto;
    padding: 18px;
}
.nav-button:hover{
    background-color: rgb(36, 36, 36);
}
.logo-container{
    flex: 1;
}
.slide-button{
    cursor: url('../images/curmiku9.png'), auto;    
}
.logo {
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    color: #4dbf00;
    margin-left: 50px;
}

.menu-container{
    flex: 6;
}

.menulist{
    display: flex;
    list-style: none;
}

.menu-list-item .a{
    font-weight: bold;
}


.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;   
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: url('../images/curmiku9.png'), auto;
    transition: all 1s ease-in-out;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    z-index: 1;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding: 20px calc(50px - 37px);
    /*3  5*/
}

.left-menu-icon:hover{
    background-color: #333;
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 15px);
    color: white;
}

.content-container{
    margin-left: 50px;
}

.featured-content{
    height: 60vh;
    padding: 50px;
}

.featured-tittle{
    width: 500px;
    height: 200px;
}

.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button{
    background-color: #4dbf00;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    cursor: url('../images/curmiku9.png'), auto;
    
}

.featured-button-link:link,
.featured-button-link:visited{
    text-decoration: none;
    color: white;
}

.featured-button-link:hover{
    cursor: url('../images/curmiku9.png'), auto;
}

.movie-list-container{
    padding-top: 20px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display: flex;
    align-self: center;
    height: 300px;
    margin-left: 60px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-title{
    margin-left: 70px;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 10px;
}

.movie-list-title:first-child{
    margin-top: 30px;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 8%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 25%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: url('../images/curmiku9.png'), auto;
    position: absolute;
    bottom: 100px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}


/* Temp 1*/
.list-button{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 400px;
}
.season-button,
.movie-choose-button{
    text-decoration: none;
    color: white;
}

.each-list-button{
    display: inline-block;
    background-color: #4dbf00;
    padding: 10px 15px;
    margin: 5px 7px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    opacity: 0.65;
}

.season-button-container{
    display: inline-block;
    background-color: #4dbf00;
    padding: 15px 11px;
    margin: 5px 7px;
    width: 370px;
    text-align: center;
    border-radius: 20px;
    opacity: 0.65;
    font-size: 17px;
}

.season-button-container:hover,
.season-button-container:focus,
.each-list-button:hover,
.each-list-button:focus{
    transition: all 0.3s ease-in-out;
    opacity: 1;
    cursor: url('../images/curmiku9.png'), auto;
}
.season-button:hover,
.season-button:focus,
.movie-choose-button:hover,
.movie-choose-button:focus{        
    cursor: url('../images/curmiku9.png'), auto;
}

/* Temp 1*/


.item-button:link,
.item-button:visited {
    text-decoration: none;
    color: white;
    
}

.item-button:hover{
    transition-duration: background 0.5s;
    opacity: 1;
    cursor: url('../images/curmiku9.png'), auto;
}



.arrow{
    font-size: 120px;
    position: absolute;
    top: 35px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: url('../images/curmiku9.png'), auto;
}
.movie{
    background-color: #151515;
}
.container.active{
    background-color: white;
}

.movie-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active:hover{
    background-color: rgb(153, 187, 250);
}

.left-menu-icon.active {
    background-color: white;
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

.movie-list-title.active{
    color: black;
}

.nav-button.active{
    color: black;
}

.nav-button.active:hover{
    background-color: rgb(153, 187, 250);
}


html, body {
    cursor: url('../images/curmiku6.png'), auto;
}

@media only screen and (max-width: 1200px){
    .menu-container{
        display: none;
    }
}
